@import "tailwindcss";

@theme {
  /* Tons de Verde Água / Paleta Sertão */
  --color-terracota-50: #F0F5F5;
  --color-terracota-100: #DBEBEA;
  --color-terracota-300: #8CBBBA;
  --color-terracota-500: #468785; /* A cor do meio da foto! */
  --color-terracota-600: #386A68;
  --color-terracota-700: #2C5251;
  --color-terracota-800: #1D3736;
}